メイン/.obsidian/workspace.json
メイン/.obsidian/workspace-mobile.json
.obsidian/workspace.json
.obsidian/workspace-mobile.json
.obsidian/graph.json
メイン/.obsidian/graph.json
.env.local
.env*
メイン/raw/discord/
